<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Calendar</title>
  </head>
  <body>
    <h4>Upcoming Invest: <span class="red-font">Miami</span> Events</h4>
    <div id='calendar'></div>
    <footer class="process-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <p class="footer-text"><span class="white-font">THE RIGHT PEOPLE.</span> <span class="red-font">THE RIGHT INDUSTRIES.</span><span class="white-font"> RIGHT NOW.</span></p>
          </div>
          <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Follow Us</h5>
              <a href="https://www.linkedin.com/company/capital-analytics-associates"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
              <a href="https://twitter.com/Invest_Miami"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
              <a href="https://www.facebook.com/capitalanalyticsassociates/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
              <a href="https://www.youtube.com/channel/UC4pxI9TxPRyoxcrY7fItF5w"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        <span class="white-font">© 2016 Copyright Text</span>
        </div>
      </div>
    </footer>

  </body>
</html>
