<div class="slider">
  <ul class="slides">
    <li>
      <%= image_tag 'Miami_1.jpg' %>
      <div class="caption center-align">
        <h3>DISCOVER NEW MARKETS</h3>
        <h5 class="light grey-text text-lighten-3">THE RIGHT PEOPLE THE RIGHT INDUSTRIES RIGHT NOW</h5>
      </div>
    </li>
    <li>
      <%= image_tag 'Miami_2.jpg' %>
      <div class="caption left-align">
        <h3>WE CREATE MEANINGFUL INTERFACES THAT INSPIRE.</h3>
        <h5 class="light grey-text text-lighten-3">FIND OUT WHAT MIAMI CAN OFFER</h5>
      </div>
    </li>
    <li>
      <<%= image_tag 'miami-construction.jpg' %>
      <div class="caption right-align">
        <h3>TAP INTO THE WISDOM OF THE TOP 200 BUSINESS MINDS</h3>
        <h5 class="light grey-text text-lighten-3">The only way for investors and entrepreneurs to instantly access the insights of the top 200 local business leaders</h5>
      </div>
    </li>
    <li>
      <%= image_tag 'Miami-design.jpg' %>
      <div class="caption center-align">
        <h3>YOUR 360-DEGREE VIEW OF THE MARKET</h3>
        <h5 class="light grey-text text-lighten-3">Invest: Miami gives you the panoramic view of the Miami market to deliver the intelligence you need to succeed in any industry</h5>
      </div>
    </li>
  </ul>
</div>
<h4>WHY MIAMI</h4>

<div id="highcharts1" style="height: 300px"></div>

<h4>THE HEAVY LIFTING DONE FOR YOU.</h4>
<h6>Our 3-step process for high-impact investor insight:</h6>
<ul class="timeline">

	<!-- Item 1 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">1. Interview</span>
			</div>
			<div class="desc">Our in-market research team conducts over 200 in-person interviews with the local leaders who matter most.</div>
		</div>
	</li>

	<!-- Item 2 -->
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">2. Analyze</span>
			</div>
			<div class="desc">Our analysts break down expert insights gathered from each interview.</div>
		</div>
	</li>

	<!-- Item 3 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">3. Publish</span>
			</div>
			<div class="desc">We bring you the insights of the top local leaders so you can see the best investment opportunities in each sector of the market.</div>
		</div>
	</li>

</ul>
