
<div class="large-2 rows">&nbsp;</div>
<div class="large-2 rows">&nbsp;</div>
<div class="large-2 rows">&nbsp;</div>
<div class="large-2 rows">&nbsp;</div>

<h1>Business Listing Page</h1>

<div class="row">
      <div class="col s12"></div>

    <div class="col s2">
			<div class="block">
				<a href="#" class="title">Hotels</a>
				<a href="#">Hotel 1</a>
				<a href="#">Hotel 2</a>
				<a href="#">Hotel 3</a>
				<a href="#">Hotel 4</a>
				<a href="#">Hotel 5</a>
			</div>
    </div>

		<div class="col s2">
			<div class="block">
				<a href="#" class="title">Consulate</a>
				<a href="#">list</a>
				<a href="#">list</a>
				<a href="#">list</a>
				<a href="#">list</a>
				<a href="#">list</a>
				<a href="#">list</a>
				<a href="#">list</a>
				<a href="#">list</a>
			</div>
		</div>

		<div class="col s2">
			<div class="block">
				<a href="#" class="title">Another Category</a>
				<a href="#">list</a>
				<a href="#">list</a>
				<a href="#">list</a>
				<a href="#">list</a>
				<a href="#">list</a>
				<a href="#">list</a>
				<a href="#">list</a>
				<a href="#">list</a>
			</div>
		</div>

		<div class="col s2">
			<div class="block">
				<a href="#" class="title">Another Category</a>
				<a href="#">list</a>
				<a href="#">list</a>
				<a href="#">list</a>
				<a href="#">list</a>
				<a href="#">list</a>
				<a href="#">list</a>
				<a href="#">list</a>
				<a href="#">list</a>
			</div>
		</div>

		<div class="col s2">
			<div class="block">
				<a href="#" class="title">Another Category</a>
				<a href="#">list</a>
				<a href="#">list</a>
				<a href="#">list</a>
				<a href="#">list</a>
				<a href="#">list</a>
				<a href="#">list</a>
				<a href="#">list</a>
				<a href="#">list</a>
			</div>
		</div>


		<div class="col s2">
			<div class="block">
				<a href="#" class="title">Another Category</a>
				<a href="#">list</a>
				<a href="#">list</a>
				<a href="#">list</a>
				<a href="#">list</a>
				<a href="#">list</a>
				<a href="#">list</a>
				<a href="#">list</a>
				<a href="#">list</a>
			</div>
		</div>


		</div>
	</div>
