
<div class="large-2 rows">&nbsp;</div>
<div class="large-2 rows">&nbsp;</div>
<div class="large-2 rows">&nbsp;</div>
<div class="large-2 rows">&nbsp;</div>


<body>
      <div class="container">
        <h1>Business Listing Page</h1>

        <h3>Hotels:</h3>
          <div class="row">

            <div class="col l9 s12">
              <!-- <div class="max-height:650px"> -->
        <!-- Grey navigation panel -->
              <p><img src="/assets/hotel-intercontinental.jpg" width="" height="450"></p>
             <!-- </div> -->
              <p><b>InterContinental Miami</b><br />
                100 Chopin Plaza <br />
                Miami, FL 33131   <br />
                T: (305) 577-1000<br />
                <a href="www.icmiamihotel.com">www.icmiamihotel.com</a><br /></p>

            </div>

            <div class="col l3 s12">
              <div class="max-height:650px">
              <!-- Teal page content  -->
              <!-- <img src="http://placehold.it/220x150"> -->
              <p><center><img src="/assets/doubletree-miami.jpg" width="" height="150"></center></p>
            </div>
              <p><b>DoubleTree Hotel</b><br />
                1717 North Bayshore Drive<br />
                Miami, FL 33132<br />
                T: (305) 372-0313<br />
                <a href="www.doubletree3.hilton.com">www.doubletree3.hilton.com</a><br /></p>
            </div>

            <div class="col l3 s12">
                <!-- Teal page content  -->
                <!-- <img src="http://placehold.it/220x150"> -->
                <p><img src="/assets/four-seasons-miami.jpg" width="" height="150"></p>
                <p><b>The Four Seasons </b><br />
                  1435 Brickell Avenue<br />
                  Miami, FL 33131<br />
                  T: (305) 358-3535<br />
                  <a href="www.fourseasons.com/Miami">www.fourseasons.com/Miami</a></p>
            </div>
          </div>

          <div class="row">
            <div class="col l4 s12">

              <p><img src="/assets/st-regis.jpg" width="300" height="200" ></p>


              <p><b>St. Regis Hotel</b><br />
                9703 Collins Ave<br />
                Bal Harbour, FL 33154<br />
                T: (305) 993-3300<br />
                <a href="www.stregisbalharbour.com">www.stregisbalharbour.com</a></p>
            </div>

            <div class="col l4 offset-by-4 s12">
              <p><img src="/assets/sonesta-miami.jpg" width="300" height="200"></p>
              <p><b>Sonesta Hotel</b><br />
                2889 McFarlane Road<br />
                Miami, FL 33133<br />
                T: (305) 529-2828<br />
                <a href="www.sonesta.com/coconutgrove">www.sonesta.com/coconutgrove</a></p>
            </div>

            <div class="col l4 offset-by 8 s12">
              <p><img src="/assets/Trump-National-Doral.jpg" width="300" height="200"></p>
              <p><b>Trump National Doral Miami</b><br />
                 4400 NW 87th Avenue<br />
                 Doral, FL 33178<br />
                 T: (305) 592-2000<br />
                <a href="www.trumphotelcollection.com/miami/">www.trumphotelcollection.com/miami/</a></p>
            </div>


          </div>

          <h3>Consulates:</h3>

          <div class="row">
            <div class="col l4 s12 consulate"><b>Antigua and Barbuda:</b>
              <p>25 SE 2nd Avenue, Suite 300 <br />
                Miami, FL 33131 <br />
                T: (305) 381-6762</p>
           </div>

            <div class="col l4 offset-by-4 s12 consulate"><b>Costa Rica:</b>
              <p>2730 SW 3rd Avenue, Suite 401 <br />
                Miami, FL 33129<br />
                T: (305) 871-7485</p>
            </div>

            <div class="col l4 offset-by-8 s12 consulate"><b>Israel:</b>
              <p>100 N. Biscayne Boulevard, Suite 1800<br />
                Miami, FL 33132<br />
                T: (305) 925-9400<br />
                <a href="www.consulateisrael.com">www.consulateisrael.com</a></p>
            </div>

          </div>

          <div class="row">
            <div class="col l4 s12 consulate"><b>Argentina:</b>
              <p>1101 Brickell Avenue, Suite 900<br />
                Miami, FL 33131<br />
                T: (305) 373-1889<br />
                <a href="www.consuladoargentinoenmiami.org">www.consuladoargentinoenmiami.org</a></p>

            </div>

            <div class="col l4 offset-by-4 s12 consulate"><b>Dominican Republic:</b>
              <p>1038 Brickell Avenue<br />
                Miami, FL 33131<br />
                T: (305) 358-3220<br />
                <a href="www.consuladodominicanomiami.com">www.consuladodominicanomiami.com</a></p>
            </div>

            <div class="col l4 offset-by-8 s12 consulate"><b>Italy:</b>
              <p>4000 Ponce de Leon Boulevard, Suite 590<br />
                Coral Gables, FL 33146<br />
                T: (305) 374-6322<br />
                <a href="www.consmiami.esteri.it">www.consmiami.esteri.it</a></p>
            </div>

          </div>

          <div class="row">
            <div class="col l4 s12 consulate"><b>Bahamas:</b>
              <p>25 SE 2nd Avenue, Suite 600<br />
                Miami, FL 33131<br />
                T: (305) 373-6295<br />
                <a href="www.consulateofthebahamasmiami.com">www.consulateofthebahamasmiami.com</a></p>

            </div>

            <div class="col l4 offset-by-4 s12 consulate"><b>Ecuador:</b>
              <p>117 NW 42nd Avenue, Suites C-U4 and C-U5<br />
                Miami, FL 33126<br />
                T: (305) 373-8520<br />
               <a href="miami.consulado.gob.ec">miami.consulado.gob.ec</a></p>
            </div>

            <div class="col l4 offset-by-8 s12 consulate"><b>Jamaica:</b>
             <p>25 SE 2nd Avenue, Suite 609<br />
               Miami, FL 33131<br />
               T: (305) 374-8431<br />
               <a href="www.jamaicacgmiami.org">www.jamaicacgmiami.org</a></p>
            </div>

          </div>

          <div class="row consulate">
            <div class="col l4 s12"><b>Barbados:</b>
              <p>2121 Ponce de Leon Boulevard, Suite 1300<br />
                Coral Gables, FL 33134<br />
                T: (786) 515-1201</p>

            </div>

            <div class="col l4 offset-by-4 s12 consulate"><b>El Salvador:</b>
              <p>8550 NW 33rd Street, Suite 100<br />
                Doral, FL 33122<br />
                T: (305) 592-6978<br />
              </div>

            <div class="col l4 offset-by-8 s12 consulate"><b>Japan:</b>
              80 SW 8th Street, Suite 3200<br />
              Miami, FL 33130<br />
              T: (305) 530-9090<br />
              <a href="www.miami.us.emb-japan.go.jp">www.miami.us.emb-japan.go.jp</a></p>
            </div>
          </div>

          <div class="row">
            <div class="col l4 s12 consulate"><b>Bolivia:</b>
              3750 NW 87th Avenue, Suite 240<br />
              Doral, FL 33178<br />
              T: (305) 358-6303<br />
              <a href="www.boliviamiami.com">www.boliviamiami.com</a></p>

            </div>

            <div class="col l4 offset-by-4 s12 consulate"><b>Germany:</b>
              100 North Biscayne Boulevard, Suite 2200<br />
              Miami, FL 33132<br />
              T: (305) 358-0290<br />
              <a href="miami.diplo.de">miami.diplo.de</a></p>
            </div>

            <div class="col l4 offset-by-8 s12 consulate"><b>Korea (Republic of Korea):</b>
              1 SE 3rd Avenue, 27th Floor<br />
              Miami, FL 33131<br />
              T: (305) 982-5573</p>
            </div>
          </div>

          <div class="row">
            <div class="col l4 s12 consulate"><b>Brazil:</b>
              <p>3150 SW 38th Avenue<br />
                Miami, FL 33146<br />
                T: (305) 285-6200<br />
                <a href="miami.itamaraty.gov.br/pt-br">miami.itamaraty.gov.br/pt-br</a></p>

            </div>

            <div class="col l4 offset-by-4 s12 consulate"><b>Finland:</b>
              <p>1280 NE 101st Street<br />
                Miami Shores, FL 33138<br />
                T: (305) 984-5310</p>
              </div>

            <div class="col l4 offset-by-8 s12 consulate"><b>Mexico:</b>
              <p>1399 SW 1st Avenue<br />
                Miami, FL 33130<br />
                T: (786) 268-4900<br />
                <a href="consulmex.sre.gob.mx/miami">consulmex.sre.gob.mx/miami</a></p>
            </div>
          </div>

          <div class="row">
            <div class="col l4 s12 consulate"><b>Canada:</b>
              <p>200 South Biscayne Boulevard, Suite 1600<br />
                Miami, FL 33131<br />
                T: (305) 579-1600<br />
                <a href="www.can-am.gc.ca">www.can-am.gc.ca</a></p>
           </div>

            <div class="col l4 offset-by-4 s12 consulate"><b>France:</b>
              <p>1395 Brickell Avenue, Suite 1050<br />
              Miami, FL 33131<br />
              T: (305) 403-4150<br />
              <a href="www.consulfrance-miami.org">www.consulfrance-miami.org</a></p>



            </div>
            <div class="col l4 offset-by-8 s12 consulate"><b>Netherlands:</b>
              <p>701 Brickell Avenue, Suite 500<br />
              Miami, FL 33130<br />
              T: (786) 866-0482</p>
            </div>
          </div>

          <div class="row">
            <div class="col l4 s12 consulate"><b>Chile:</b>
              <p>800 Brickell Avenue, Suite 1200<br />
                Miami, FL 33131<br />
                T: (305) 373-8623<br />
                <a href="chile.gob.cl/miami/en">chile.gob.cl/miami/en</a></p>
           </div>

            <div class="col l4 offset-by-4 s12 consulate"><b>Guatemala:</b>
              <p>1101 Brickell Avenue, Suite 603-S<br />
                Miami, FL 33131<br />
                T: (305) 679-9946<br />
                <a href="www.consuladoguatemalamiami.org">www.consuladoguatemalamiami.org</a></p>


            </div>
            <div class="col l4 offset-by-8 s12 consulate"><b>Nicaragua:</b>
              <p>1332 West Flagler Street<br />
              Miami, FL 33135<br />
              T: (305) 265-1415<br />
              <a href="www.consuladonicamiami.com/cms">www.consuladonicamiami.com/cms</a></p>
            </div>
          </div>

          <div class="row">
            <div class="col l4 s12 consulate">Colombia:
              <p>280 Aragon Avenue<br />
                Coral Gables, FL 33134<br />
                T: (888) 764-3326<br />
                <a href="miami.consulado.gov.co">miami.consulado.gov.co</a></p>
           </div>

            <div class="col l4 offset-by-4 s12 consulate"><b>Honduras:</b>
              <p>8600 NW 36th Street, Suite 510<br />
                Miami, FL 33166<br />
                T: (305) 269-3131</p>
            </div>

            <div class="col l4 offset-by-8 s12 consulate"><b>Norway:</br>
              <p>806 South Douglas Road, Suite 580<br />
                Coral Gables, FL 33134<br />
                T: (305) 358-4386</p>
            </div>
          </div>




</div>

<footer class="process-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p class="footer-text"><span class="white-font">THE RIGHT PEOPLE.</span> <span class="red-font">THE RIGHT INDUSTRIES.</span><span class="white-font"> RIGHT NOW.</span></p>
      </div>
      <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Follow Us</h5>
          <a href="https://www.linkedin.com/company/capital-analytics-associates"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
          <a href="https://twitter.com/Invest_Miami"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/capitalanalyticsassociates/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          <a href="https://www.youtube.com/channel/UC4pxI9TxPRyoxcrY7fItF5w"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    <span class="white-font">© 2016 Copyright Text</span>
    </div>
  </div>
</footer>
