<div class="row">
      <div class="col s12">
        <center>
        <img src="http://mcdmag.com/wp-content/uploads/2014/01/Cancer_Instit_Rendering_Canvas.jpg" width="950" height="">
        </center>
      </div>
</div>

    <div class="container">

    <div class="row">
      <div class="col s6"><center>
         <iframe width="350" height="197" src="https://www.youtube.com/embed/dQ_Hxm2i6YI" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col s5">

      Invest: Insights speaks to Steven Altchuler, CEO, UHealth. The University of Miami Health System delivers leading-edge patient
      care by the region’s best doctors, powered by the groundbreaking research and medical education of the University of Miami
      Leonard M. Miller School of Medicine.

    </div>
  </div>
  </div>




<div class="charts-container">
  <div class="row charts">
    <!-- Insured and covered by insurance -->
    <div class="col s6">
      <div id="highcharts6" style="width: 550px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="col s6">
      <div id="highcharts7" style="width: 550px; height: 400px; margin: 0 auto"></div>
    </div>
</div>
  <!-- highcharts 4 and 5 should be on the same line -->
<!--
  <div class="row charts">
    <div class="col s6">
      <div id="highcharts8" style="width: 550px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="col s6">
      <div id="highcharts5" style="width: 550px; height: 400px; margin: 0 auto"></div>
    </div>
</div> -->

<!-- insert highcharts -->
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script> -->




<div id="recent_posts">
  <h3>Recent Healthcare Miami Posts</h3>
  <ul>
    <% for entry in FeedEntry.healthFeed %>
    <li><%= link_to entry.title, entry.url %>
      <p><%#= entry.summary %>
    </li>
    <% end %>
  </ul>
</div>

<footer class="process-footer">
  <div class="container">
    <!-- <h4><span class="white-font">Contact Us</span></h4> -->
    <div class="row">
      <div class="col l6 s12">
        <p><span class="white-font">THE RIGHT PEOPLE.</span> <span class="red-font">THE RIGHT INDUSTRIES.</span><span class="white-font"> RIGHT NOW.</span></p>
      </div>
      <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Follow Us</h5>
          <a href="https://www.linkedin.com/company/capital-analytics-associates"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
          <a href="https://twitter.com/Invest_Miami"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/capitalanalyticsassociates/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          <a href="https://www.youtube.com/channel/UC4pxI9TxPRyoxcrY7fItF5w"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    <span class="white-font">© 2016 Copyright Invest:Miami</span>
    </div>
  </div>
</footer>
