
      <div class="col s12">
        <center>
        <img height="100%" width="100%" src="http://www.spnylaw.com/wp-content/uploads/2016/04/miami-real-estate-1.png">
        </center>
      </div>


      <h4>REAL <span class="red-font">ESTATE</h4>

        <div class="container">
          <div id="reasons">
            <div class="hideme">Rising domestic demand, steady international interest, and a stable
            economy support Miami-Dade's diversifying real estate market.</div>
            </div>
        </div>
        <br>
        <!-- <p class="center-text">Rising domestic demand, steady international interest, and a stable
        economy support Miami-Dade's diversifying real estate market.</p>
 -->

    <div class="container">

    <div class="row">
      <div class="col s6"><center>
         <iframe  width="400" height="250"  src="https://www.youtube.com/embed/NXuV2ubq8Ro" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col s5 offset-s1">

      Invest: Miami hosted two VIP panels to further deepen the discussion on infrastructure and development in Miami-Dade.
      The morning infrastructure panel featured keynote Bill Johnson, Florida Secretary of Commerce and Enterprise Florida
      President &amp; CEO, Enterprise Florida followed by a panel discussion with Kerri Barsh, Shareholder, Greenberg Traurig,
      Alice Bravo, Director, Miami-Dade County Department of Transit, MacAdam Glinn, Senior Vice-President for South Florida,
      Skanska USA, and Kevin Lynskey, Deputy Director, Port Miami.

    </div>
  </div>
  </div>



<div class="charts-container">
  <div class="row charts">
    <div class="col s5 offset-s1">
      <iframe name='ifrm' class='embedcodeifrm' id='ifrm' height='540' marginHeight='0'
      src='http://www.realtytrac.com/StatsAndTrends/EmbedRTChart/ForeclosureFilings_county:FLDA'
      frameBorder='0' width='640' marginWidth='0' scrolling='no'></iframe>


      <!-- <div id="highcharts2" style="width: 550px; height: 400px; margin: 0 auto"></div> -->
    </div>
    <div class="col s6">
      <div id="highcharts8" style="width: 550px; height: 400px; margin: 0 auto"></div>
    </div>
</div>
  <!-- highcharts 4 and 5 should be on the same line -->

  <!-- <div class="row charts">
    <div class="col s6">
      <div id="highcharts4" style="width: 550px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="col s6">
      <div id="highcharts5" style="width: 550px; height: 400px; margin: 0 auto"></div>
    </div>
</div> -->




<!-- <div class="grid-example col s12 m6 offset-s3"><span class="flow-text">
<link rel="stylesheet" type="text/css" href="//css.trulia-cdn.com/css/I19_32/css/compiled/combo/pg_truliatool-generate.css" >
<div class="trulia_tool container300x350 home-finder grey" style="width: 296px; height: 350px;">
<div class="trulia_tool_header"><h6>Home Finder</h6></div>
<iframe src="http://synd.trulia.com/tools/home-finder/embedded?params%5Blocation%5D=&params%5BlocationId%5D=&params%5Bcolor%5D=grey&params%5Bemail%5D=oni_rivera98%40yahoo.com&params%5Buser_url%5D=&params%5Btitle%5D=Home+Finder&params%5Bwidth%5D=300&params%5Bheight%5D=350&params%5Bguid%5D=57422f7617879" style="height: 285px; overflow: hidden;">
<p>Your browser does not support iframes</p></iframe><div class="trulia_tool_footer"><div class="footer-link typeTruncate"></div><a class="trulia-logo" href="http://www.trulia.com/" title="Trulia" alt="Trulia" target="_blank" rel="nofollow"></a></div></div>
</span>
</div>
<div> -->


<div id="recent_posts">

  <h4>Recent Invest:Miami Real Estate Posts</h4>
  <div class ="row">
    <ul>
      <% for entry in FeedEntry.limit(6) %>
        <div class="col s4 rss-feed">
          <li><%= link_to entry.name, entry.url, :class => 'feed-title' %></li>
          <li class="divider"></li>
          <li><%= sanitize entry.summary, :class => 'feed-summary' %></li>
        </div>
      <% end %>
    </ul>
  </div>
</div>

<footer class="process-footer">
  <div class="container">
    <!-- <h4><span class="white-font">Contact Us</span></h4> -->
    <div class="row">
      <div class="col l6 s12">
        <p><span class="white-font">THE RIGHT PEOPLE.</span> <span class="red-font">THE RIGHT INDUSTRIES.</span><span class="white-font"> RIGHT NOW.</span></p>

      </div>
      <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Follow Us</h5>
          <a href="https://www.linkedin.com/company/capital-analytics-associates"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
          <a href="https://twitter.com/Invest_Miami"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/capitalanalyticsassociates/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          <a href="https://www.youtube.com/channel/UC4pxI9TxPRyoxcrY7fItF5w"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    <span class="white-font">© 2016 Copyright Invest:Miami</span>
    </div>
  </div>
</footer>
