<!-- Miami MSA GDP compared to US -->

<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.leanModal.min.js"></script>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Invest:Miami, a Project by Brian. Ricky & Anthony" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
</head>
<body>
	<!-- header-section-starts -->
	<div class="container">
		<div class="news-paper">
			<div class="header">
				<div class="header-left">
					<div class="logo">
						<a href="index.html">

						</a>
					</div>
				</div>
					<div class="social-icons">
						<li><a href="#"><i class="twitter"></i></a></li>
						<li><a href="#"><i class="facebook"></i></a></li>
						<li><a href="#"><i class="rss"></i></a></li>
						<li><div class="facebook"><div id="fb-root"></div>

							<div id="fb-root"></div>
							</div></li>
							<script>(function(d, s, id) {
							  var js, fjs = d.getElementsByTagName(s)[0];
							  if (d.getElementById(id)) return;
							  js = d.createElement(s); js.id = id;
							  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
							  fjs.parentNode.insertBefore(js, fjs);
							}(document, 'script', 'facebook-jssdk'));</script>

	   						<div class="fb-like" data-href="https://www.facebook.com/capitalanalyticsassociates/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>


					</div>
					<div class="clearfix"></div>
				<div class="header-right">
					<div class="top-menu">

	<div id="modal" class="popupContainer" style="display:none;">
		<header class="popupHeader">
			<span class="header_title">Login</span>
			<span class="modal_close"><i class="fa fa-times"></i></span>
		</header>

		<section class="popupBody">
			<!-- Social Login -->
			<div class="social_login">
				<div class="">
					<a href="#" class="social_box fb">
						<span class="icon"><i class="fa fa-facebook"></i></span>
						<span class="icon_title">Connect with Facebook</span>

					</a>

					<a href="#" class="social_box google">
						<span class="icon"><i class="fa fa-google-plus"></i></span>
						<span class="icon_title">Connect with Google</span>
					</a>
				</div>

				<div class="centeredText">
					<span>Or use your Email address</span>
				</div>

				<!-- <div class="action_btns">
					<div class="one_half"><a href="#" id="login_form" class="btn">Login</a></div>
					<div class="one_half last"><a href="#" id="register_form" class="btn">Sign up</a></div>
				</div> -->
			</div>

			<!-- Username & Password Login form -->
			<div class="user_login">
				<form>
					<label>Email / Username</label>
					<input type="text" />
					<br />

					<label>Password</label>
					<input type="password" />
					<br />

					<div class="checkbox">
						<input id="remember" type="checkbox" />
						<label for="remember">Remember me on this computer</label>
					</div>

					<div class="action_btns">
						<div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
						<div class="one_half last"><a href="#" class="btn btn_red">Login</a></div>
					</div>
				</form>

				<a href="#" class="forgot_password">Forgot password?</a>
			</div>

			<!-- Register Form -->
			<div class="user_register">
				<form>
					<label>Full Name</label>
					<input type="text" />
					<br />

					<label>Email Address</label>
					<input type="email" />
					<br />

					<label>Password</label>
					<input type="password" />
					<br />

					<div class="checkbox">
						<input id="send_updates" type="checkbox" />
						<label for="send_updates">Send me occasional email updates</label>
					</div>

					<div class="action_btns">
						<div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
						<div class="one_half last"><a href="#" class="btn btn_red">Register</a></div>
					</div>
				</form>
			</div>
		</section>
	</div>

<script type="text/javascript">
	$("#modal_trigger").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });

	$(function(){
		// Calling Login Form
		$("#login_form").click(function(){
			$(".social_login").hide();
			$(".user_login").show();
			return false;
		});

		// Calling Register Form
		$("#register_form").click(function(){
			$(".social_login").hide();
			$(".user_register").show();
			$(".header_title").text('Register');
			return false;
		});

		// Going back to Social Forms
		$(".back_btn").click(function(){
			$(".user_login").hide();
			$(".user_register").hide();
			$(".social_login").show();
			$(".header_title").text('Login');
			return false;
		});

	})
</script></li>

						</ul>
					</div>
					<!---pop-up-box---->
					<!-- <link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
					<script src="js/jquery.magnific-popup.js" type="text/javascript"></script> -->
					<!---//pop-up-box---->
					<!-- <div id="small-dialog1" class="mfp-hide">
						<div class="signup">
							<h3>Subscribe</h3>
							<h4>Enter Your Valid E-mail</h4>
							<input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" />
							<div class="clearfix"></div>
							<input type="submit"  value="Subscribe Now"/>
						</div>
					</div> -->

                     <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});

						});
				</script>

					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
				</div>
			<span class="menu"></span>
			<div class="menu-strip">

			</div>
			<!-- script for menu -->
				<script>
				$( "span.menu" ).click(function() {
				  $( ".menu-strip" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			</script>
			<!-- script for menu -->
			<div class="clearfix"></div>
			<div class="main-content">
				<div class="col-md-9 total-news">
					 <section class="slider">
							<div class="flexslider">
							  <ul class="slides">
								<li>
									<a href="singlepage.html"><img src="/images/s1.jpg" class="img-responsive" alt="" /></a>
									</li>
									<li>
									<a href="singlepage.html"><img src="/images/s2.jpg" class="img-responsive" alt="" /></a>
									</li>
									<li>
									<a href="singlepage.html"><img src="/images/s3.jpg" class="img-responsive" alt="" /></a>
									</li>
							  </ul>
							</div>
						  </section>
						  <!-- FlexSlider -->
						  <script defer src="js/jquery.flexslider.js"></script>
						  <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
						  <script type="text/javascript">
							$(function(){
							  SyntaxHighlighter.all();
							});
							$(window).load(function(){
							  $('.flexslider').flexslider({
								animation: "slide",
								start: function(slider){
								  $('body').removeClass('loading');
								}
							  });
							});
						  </script>
						  <div class="sports-top">
							<div class="s-grid-left">
								<div class="cricket">
									<h3>Category Feed from InvestMiami</h3>
									<div class="c-sports-main">
											<div class="c-image">
												<a href="singlepage.html"><img src="http://placehold.it/350x150"></a>
											</div>
											<div class="c-text">
												<p>post 1</p>
												<a class="power" href="singlepage.html">Power Reigns Supreme at 11th Cricket World Cup</a>
												<a class="reu" href="singlepage.html">Reuters</a>
											</div>
											<div class="clearfix"></div>
										</div>
										<div class="s-grid-small">
											<div class="sc-image">
												<a href="singlepage.html"><img src="http://placehold.it/350x150"></a>
											</div>
										<div class="sc-text">
											<p>cricket</p>
											<a class="power" href="singlepage.html">nternational Cricket Council President Walks out of World Cup Final After Trophy Snub</a>
											<a class="reu" href="singlepage.html">Press Trust Of India</a>
										</div>
										<div class="clearfix"></div>
										</div>
										<div class="s-grid-small">
											<div class="sc-image">
												<a href="singlepage.html"><img src="http://placehold.it/350x150"></a>
											</div>
										<div class="sc-text">
											<p>cricket</p>
											<a class="power" href="singlepage.html">nternational Cricket Council President Walks out of World Cup Final After Trophy Snub</a>
											<a class="reu" href="singlepage.html">Press Trust Of India</a>
										</div>
										<div class="clearfix"></div>
										</div>
									</div>
								</div>
							<div class="s-grid-right">
								<div class="cricket">
									<h3>Category Feed from InvestMiami</h3>
									<div class="c-sports-main">
											<div class="c-image">
												<a href="singlepage.html"><img src="http://placehold.it/350x150"></a>
											</div>
											<div class="c-text">
												<p>post</p>
												<a class="power" href="singlepage.html">Power Reigns Supreme at 11th Cricket World Cup</a>
												<a class="reu" href="singlepage.html">Reuters</a>
											</div>
											<div class="clearfix"></div>
										</div>
										<div class="s-grid-small">
											<div class="sc-image">
												<a href="singlepage.html"><img src="http://placehold.it/350x150"></a>
											</div>
										<div class="sc-text">
											<p>post</p>
											<a class="power" href="singlepage.html">nternational Cricket Council President Walks out of World Cup Final After Trophy Snub</a>
											<a class="reu" href="singlepage.html">Press Trust Of India</a>
										</div>
										<div class="clearfix"></div>
										</div>
										<div class="s-grid-small">
											<div class="sc-image">
												<a href="singlepage.html"><img src="http://placehold.it/350x150"></a>
											</div>
										<div class="sc-text">
											<p>post</p>
											<a class="power" href="singlepage.html">nternational Cricket Council President Walks out of World Cup Final After Trophy Snub</a>
											<a class="reu" href="singlepage.html">Press Trust Of India</a>
										</div>
										<div class="clearfix"></div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						  <div class="sports-top">
							<div class="s-grid-left">
								<div class="cricket">
									<h3>Category Feed from InvestMiami</h3>
									<div class="c-sports-main">
											<div class="c-image">
												<a href="singlepage.html"><img src="http://placehold.it/350x150"></a>
											</div>
											<div class="c-text">
												<p>post</p>
												<a class="power" href="singlepage.html">Power Reigns Supreme at 11th Cricket World Cup</a>
												<a class="reu" href="singlepage.html">Reuters</a>
											</div>
											<div class="clearfix"></div>
										</div>
										<div class="s-grid-small">
											<div class="sc-image">
												<a href="singlepage.html"><img src="http://placehold.it/350x150"></a>
											</div>
										<div class="sc-text">
											<p>post</p>
											<a class="power" href="singlepage.html">nternational Cricket Council President Walks out of World Cup Final After Trophy Snub</a>
											<a class="reu" href="singlepage.html">Press Trust Of India</a>
										</div>
										<div class="clearfix"></div>
										</div>
										<div class="s-grid-small">
											<div class="sc-image">
												<a href="singlepage.html"><img src="http://placehold.it/350x150"></a>
											</div>
										<div class="sc-text">
											<p>post</p>
											<a class="power" href="singlepage.html">nternational Cricket Council President Walks out of World Cup Final After Trophy Snub</a>
											<a class="reu" href="singlepage.html">Press Trust Of India</a>
										</div>
										<div class="clearfix"></div>
										</div>
									</div>
								</div>
							<div class="s-grid-right">
								<div class="cricket">
									<h3>Category Feed from InvestMiami</h3>
									<div class="c-sports-main">
											<div class="c-image">
												<a href="singlepage.html"><img src="http://placehold.it/350x150"></a>
											</div>
											<div class="c-text">
												<p>post</p>
												<a class="power" href="singlepage.html">Power Reigns Supreme at 11th Cricket World Cup</a>
												<a class="reu" href="singlepage.html">Reuters</a>
											</div>
											<div class="clearfix"></div>
										</div>
										<div class="s-grid-small">
											<div class="sc-image">
												<a href="singlepage.html"><img src="http://placehold.it/350x150"></a>
											</div>
										<div class="sc-text">
											<p>post</p>
											<a class="power" href="singlepage.html">nternational Cricket Council President Walks out of World Cup Final After Trophy Snub</a>
											<a class="reu" href="singlepage.html">Press Trust Of India</a>
										</div>
										<div class="clearfix"></div>
										</div>
										<div class="s-grid-small">
											<div class="sc-image">
												<a href="singlepage.html"><img src="http://placehold.it/350x150"></a>
											</div>
										<div class="sc-text">
											<p>post</p>
											<a class="power" href="singlepage.html">nternational Cricket Council President Walks out of World Cup Final After Trophy Snub</a>
											<a class="reu" href="singlepage.html">Press Trust Of India</a>
										</div>
										<div class="clearfix"></div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
					<div class="photos">
						<h3>PHOTOS</h3>

					 <div class="course_demo1">

							 </div>
							 <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
								<script type="text/javascript">
							 $(window).load(function() {
								$("#flexiselDemo").flexisel({
									visibleItems: 4,
									animationSpeed: 1000,
									autoPlay: true,
									autoPlaySpeed: 3000,
									pauseOnHover: true,
									enableResponsiveBreakpoints: true,
									responsiveBreakpoints: {
										portrait: {
											changePoint:480,
											visibleItems: 2
										},
										landscape: {
											changePoint:640,
											visibleItems: 2
										},
										tablet: {
											changePoint:768,
											visibleItems: 3
										}
									}
								});

							 });
							  </script>
							 <script type="text/javascript" src="js/jquery.flexisel.js"></script>
					</div>
						  </div>
				</div>
				<div class="col-md-3 side-bar">
					<div class="videos">
						<div class="video-grid">
							<div class="video">
								<a href="single.html"><i class="play"></i></a>
							</div>
							<div class="video-name">

								<a href="http://www.capitalanalyticsassociates.com/alternative-sources-of-private-equity/">Alternative Sources of Private Equity</a>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="video-grid">
							<div class="video">
								<a href="single.html"><i class="play"></i></a>
							</div>
							<div class="video-name">
								<a href="http://www.capitalanalyticsassociates.com/evolution-of-brickell-downtown-miami/">Evolution of Brickell & Downtown Miami</a>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="video-grid">
							<div class="video">
								<a href="single.html"><i class="play"></i></a>
							</div>
							<div class="video-name">
								<a href="http://www.capitalanalyticsassociates.com/9th-annual-commercial-real-estate-breakfast/">9th Annual Commercial Real Estate Breakfast</a>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="video-grid">
							<div class="video">
								<a href="single.html"><i class="play"></i></a>
							</div>
							<div class="video-name">
								<a href="http://www.capitalanalyticsassociates.com/the-up-comer-awards/">The Up & Comer Awards</a>
							</div>
							<div class="clearfix"></div>
						</div>
						<a class="more1" href="http://www.capitalanalyticsassociates.com/blog/">More  +</a>
						<div class="clearfix"></div>
					</div>
					<!-- <div class="sign_up text-center">
						<h3>Sign  Up  for    Newsletter</h3>
						<p class="sign">Sign up to receive our free newsletters!</p>
						<form>
							<input type="text" class="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
							<input type="text" class="text" value="Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
							<input type="submit" value="submit">
						</form>
						<p class="spam">We do not spam. We value your privacy!</p>
					</div> -->
					<div class="clearfix"></div>
					<div class="popular">
						<div class="main-title-head">
							<h5>popular</h5>
							<h4> Most    read</h4>
							<div class="clearfix"></div>
						</div>
						<div class="popular-news">
							<div class="popular-grid">
								<i>Sept 24th 2011 </i>
								<p>Lorem ipsum dolor sit amet conse ctetur adipiscing elit  <a href="singlepage.html">Read More</a></p>
							</div>
							<div class="popular-grid">
								<i>Sept 24th 2011 </i>
								<p>Lorem ipsum dolor sit amet conse ctetur adipiscing elit  <a href="singlepage.html">Read More</a></p>
							</div>
							<div class="popular-grid">
								<i>Sept 24th 2011 </i>
								<p>Lorem ipsum dolor sit amet conse ctetur adipiscing elit  <a href="singlepage.html">Read More</a></p>
							</div>
							<div class="popular-grid">
								<i>Sept 24th 2011 </i>
								<p>Lorem ipsum dolor sit amet conse ctetur adipiscing elit  <a href="singlepage.html">Read More</a></p>
							</div>
							<div class="popular-grid">
								<i>Sept 24th 2011 </i>
								<p>Lorem ipsum dolor sit amet conse ctetur adipiscing elit  <a href="singlepage.html">Read More</a></p>
							</div>
							<a class="more" href="singlepage.html">More  +</a>
						</div>
					</div>
					<div class="subscribe-now">
						<div class="discount">
							<a href="#">
								<div class="save">
									<p>This space</p>
									<p>is for Ads</p>
								</div>
								<div class="percent">
									<h2>Ads</h2>
								</div>
								<div class="clearfix"></div>
						</div>
						<h3 class="sn">Ad Title</h3>
							</a>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
				<div class="footer text-center">
				<div class="bottom-menu">

				</div>

			</div>
		</div>
	</div>
<div class="charts-container">
  <div class="row charts">
    <div class="col s6">
      <div id="highcharts2" style="width: 550px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="col s6">
      <div id="highcharts3" style="width: 550px; height: 400px; margin: 0 auto"></div>
    </div>
</div>
  <!-- highcharts 4 and 5 should be on the same line -->

  <div class="row charts">
    <div class="col s6">
      <div id="highcharts4" style="width: 550px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="col s6">
      <div id="highcharts5" style="width: 550px; height: 400px; margin: 0 auto"></div>
    </div>
</div>


<div id="recent_posts">
  <h3>Recent Healthcare Miami Posts</h3>
  <ul>
    <% for entry in FeedEntry.healthFeed %>
    <li><%= link_to entry.title, entry.url %>
      <p><%#= entry.summary %>
    </li>
    <% end %>
  </ul>
</div>
